<div style="padding: 10px 20px;
    border: solid 1px #af4f4f;
    background: #ffe8e8;
    font-weight: 600;">
<p>
  <strong>Please note:</strong> All swim orders are final sale. Even if 'store pickup' is selected, once an order for swim has been submitted, it can't be cancelled. We appreciate your understanding.
</p>
</div>

{% comment %}
This has been added to 3 places
cart-template.liquid
message-modal.liquid
sidebar cart - wrapper top cart.liquid
{% endcomment %}